{% extends "powerdown/index.html" %}
{% block content %}
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Statistics</h1>

			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Energy Consumption (per month)</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
		<h6 style="margin-left:1em">*Government Alloted Values are ideal, shown in Grey. </h6>	
		<h6 style="margin-left:1em">*All values are in watt-hour.</h6>	
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Energy Consumption (this semester)</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="bar-chart" height="200" width="600"></canvas>
						</div>
						<h6 style="margin-left:1em">*Government Alloted Values are ideal, shown in Grey. </h6>
						<h6 style="margin-left:1em">*All values are in watt-hour.</h6>	
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Percentage Consumption per Floor</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart" ></canvas>
						</div>
						<h6 style="margin-left:1em">*All values are in watt-hour.</h6>
						<h6 style="margin-left:1em">*Values for the current month are displayed</h6>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Percentage Consumption per Wing</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="doughnut-chart" ></canvas>
						</div>
						<h6 style="margin-left:1em">*All values are in watt-hour.</h6>
						<h6 style="margin-left:1em">*Values for the current month are displayed</h6>
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<!--<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Label:</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Label:</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Label:</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Label:</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span>
						</div>
					</div>
				</div>
			</div>-->
	<!--	</div><!--/.row-->
<!--	</div>	<!--/.main-->
							{% endblock %}
